__pycache__/
logs/
logs2/
*/logs2
./*.zip
*.zip
._*
.ipynb_checkpoints/
models/
*.pb
*.pt
venv/
data/
runs/
*.log
*/__pycache__/
*/logs/
*/*.zip
*/.ipynb_checkpoints/
*/models/
*/*.pb
*/*.pt
*/data/
*/runs/
*/*.log
*/tensors_s/
*/tensors_u/
*/tensors_t/
*.pth
*/*.pth
**/checkpoints/
*/*/*.pt
*/*.txt
*/*/*.txt
*/*embeddings.png
*/*embeddings*.png
*/embeddings*.png
*/embeddings
*compare.png